<?xml version="1.0"?>
<config>
    <modules>
        <Quafzi_CustomerOrderInfo>
            <version>0.1.0</version>
        </Quafzi_CustomerOrderInfo>
    </modules>
    <global>
        <blocks>
            <quafzi_customerorderinfo>
                <class>Quafzi_CustomerOrderInfo_Block</class>
            </quafzi_customerorderinfo>
        </blocks>
        <helpers>
            <quafzi_customerorderinfo>
                <class>Quafzi_CustomerOrderInfo_Helper</class>
            </quafzi_customerorderinfo>
        </helpers>
        <models>
            <quafzi_customerorderinfo>
                <class>Quafzi_CustomerOrderInfo_Model</class>
            </quafzi_customerorderinfo>
        </models>
        <resources>
            <quafzi_customerorderinfo_setup>
                <setup>
                    <module>Quafzi_CustomerOrderInfo</module>
                </setup>
            </quafzi_customerorderinfo_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <add_order_info>
                        <type>singleton</type>
                        <class>quafzi_customerorderinfo/observer</class>
                        <method>addAdminhtmlCustomerOrderInfo</method>
                    </add_order_info>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <translate>
            <modules>
                <Maxxfit_Dropshipping>
                    <files>
                        <default>Maxxfit_Dropshipping.csv</default>
                    </files>
                </Maxxfit_Dropshipping>
            </modules>
        </translate>
    </adminhtml>
</config>
